<body class="landingPage">

    <header>
       
        <nav style="float: right;">  
            
                <a class="social-icon__link" href="#">
                        <ion-icon name="logo-facebook" style="color: rgba(0, 0, 128, 0.818);"></ion-icon>
                    </a>
            <a class="social-icon__link" href="#">
                        <ion-icon name="logo-twitter" style="color: blue;"></ion-icon>
                    </a>
                <a class="social-icon__link" href="#">
                        <ion-icon name="logo-linkedin" style="color: aqua;"></ion-icon>
                    </a>
               <a class="social-icon__link" href="#">
                        <ion-icon name="logo-instagram" style="color: red;"></ion-icon>
                    </a>
            
        </nav>
    </header>

    <div  class="intro">
    
        <div>
<img src="logo1.png" alt="MetaFan" />
            <p class="large" style="font-family: 'Montserrat', sans-serif;">Find out who reacts and comments
                on your posts the most!</p>

            <button>START</button>
        </div>
    </div>

</body>