body{
    background-color: rgba(255, 255, 255, 0.829);
    opacity: 3;
  

}

img{
    opacity: 3;
   filter: saturate(3);
   filter: contrast(1.4);
}
.landingPage{
    color:rgba(0, 0, 0, 0.801);
}
button{
    color: rgb(255, 255, 255);
    background-image:linear-gradient(to right,red, blueviolet) ;
}


nav a {

    font-size: 24px;

    
}

footer{
    margin-top: 50px;
    text-align: center;
}

footer a{
    margin: 15px;
    font-size: 25px;
    color:rgba(10, 10, 10, 0.829);
  
}
